header{
    background-color: darkgrey;
    width: 1350px;
    height: 150px;
    text-align: center;
    font-size: 36px;
}
section{
    display: flex;
}
.premade{
    flex: 1;
    height: 200px;
    border: 10px solid black; 
    float: left;

}

.image{
    width: 430px;
    height: 150px;
}
.text{
    text-align: center;
    text-size-adjust: 26px;
}