body{
    padding: 0;
    margin: 0;
}
header{
    background-color: darkgrey;
    width: 100%;
    height: 125px;
    font-size: 48px;
}
.flex-menu{
    display: flex;
}
.premade{
    flex: 1;
    height: 200px;
    border: 10px solid black; 
    float: left;

}

.image{
    width: 430px;
    height: 150px;
}
.text{
    text-align: center;
    text-size-adjust: 26px;
    font-size: 18px;
}

.customtext{
    background-color: darkgrey;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}
#custom{
    height: 500px;
    width: 100%;
    background-color: lightblue;
}
.hoverdd{
    width: 100%;
    height: 100px;
}
section > form{
    height: 50px;
    width: 100%;
    
    float: left;

}
.no-top{
    margin-top: 0;
}
.text-center{
    text-align: center;
}
